*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

:root {
    --hue-neautral: 0,0,0;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neautral);
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: black;
}

body.correct {
    --hue: var(--hue-correct):
}

body.wrong {
    --hue: var(--hue-wrong);
}

.title {
    color: white;
    display: flex;
    flex-direction: row;
}

.container {
    width:800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    box-shadow: 5 5 10px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neautral);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue) 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline:none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue:var(--hue-correct);
    color:black
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn {
    font-size: 50px;
    color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color:black
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

.zero {
    display: flex;
    justify-content: center;
    align-items: center;
    color:royalblue;
}

.hide {
    display: none;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }